@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/*Variables*/
:root {
    --c-brand: #A5C9CA;
    --c-brand-peach: #FF7272;
    --c-brand-rgb: 165 201 202;
    --c-dark: #2C3333;
    --c-body: #395B64;
    --f-main: "Bai Jamjuree", sans-serif;
    --transition: all .5s cubic-bezier(.15, .8, .4, 1);
    --shadow: 0px 18px 36px rgba(0,0,0,0.1);
}


/*Default and custom properties*/
body {
    font-family: var(--f-main);
    color: var(--c-body);
    line-height: 1.5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 800;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand);
}

img {
    width: 100%;
}

.section-padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-tittle {
    max-width: 400px;
    margin: 0 auto 80px auto;
}

.section-line {
    width: 100px;
    height: 2px;
    background-color: var(--c-brand-peach);
    display: inline-block;
}

.text-brand {
    color: var(--c-brand-peach);
}


/* Navbar */
.navbar {
    padding-top: 24px;
    padding-bottom: 24px;
    transition: var(--transition);
}

.navbar.scrolled {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
}

.navbar .navbar-nav .nav-link {
    font-weight: 600;
    color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--c-brand-peach);
}

.navbar-brand {
    font-size:24px;
    font-weight: 800;
}

.navbar-toggler {
    border-radius: none;
}

.navbar-toggler:hover {
    border-color: var(--c-brand-peach);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 5px;
    width: 32px;
    height: 32px;
    color: white;
    background-color: var(--c-brand-peach);
    border: 2px solid var(--c-brand-peach);
   
}

.social-icon:hover {
    color: var(--c-brand-peach);
    background-color: transparent;
}

@media (min-width: 990px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 990px) {
    .navbar {
        background-color: white;
    }
}


/* Home */
#home {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.btn {
    font-weight: 400;
    font-size: medium;
    padding: 12px 24px;
    border-radius: 0;
    border-width: 4px;    
}

.btn-brand {
    color: white;
    background-color: var(--c-brand-peach);
    border-color: var(--c-brand-peach);
}

.btn-brand:hover {
    color: var(--c-brand-peach);
    background-color: transparent;
}


/* Abotu me */
.about-me-title {
    color: var(--c-brand-peach);
}

.about-me-icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand-peach);
}

.about-me-icon:hover {
    color: var(--c-brand-peach);
    background-color: transparent;
}

.about-me-card > h6:hover {
    color: var(--c-brand-peach);
    transform: translate3d(2px,2px,4px);
} 


/* Projects */
.email-me:hover {
    color: var(--c-brand-peach);
}

.project {
    overflow: hidden;
    position: relative;
}

.project .project-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand-peach);
}


.project img, .project .project-content {
    transition: var(--transition);
}

.project:hover .project-content {
    top: 0;
}

.project:hover img {
    transform: translateY(-100%);
}


/* Certificates */
.certificate-section {
    background: rgb(239,236,244);
    background: linear-gradient(90deg, rgba(239,236,244,1) 0%, rgba(244,236,236,1) 35%, rgba(248,244,244,1) 100%);
}

.certificate-tittle {
    color: var(--c-brand-peach);
}   

.certificate {
    width: 100%;
    height: 100%;
    background-color: white;
}

.certificate:hover{
    scale: 1.1;
}


/* Contact */
.contact-section .form-control {
    border-radius: 0;
}

.contact-section .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand-peach);
}


/* Footer */
footer {
    padding-top: 180px;
    padding-bottom: 24px;
    background-color: var(--c-dark);
}

footer h4 {
    color: white;
}

footer h4:hover {
    color: var(--c-brand-peach);
}

footer p, footer li {
    color: grey;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-top {
    padding-bottom: 100px;
    border-bottom: 1px solid grey;
}

.footer-bottom {
    padding-top: 24px;
}
