@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');


/*Variables*/
:root {
    --c-brand-primary: #FF7272;
    --c-brand-secondary: #A5C9CA;
    --c-brand-rgb: rgb(239,236,244);
    --c-dark: #2C3333;
    --c-body: #395B64;
    --c-grey: grey;
    --c-white: white;
    --linear-gradient: linear-gradient(90deg, rgba(239,236,244,1) 0%, rgba(244,236,236,1) 35%, rgba(248,244,244,1) 100%);
    --f-main: "Bai Jamjuree", sans-serif;
    --transition: all .5s cubic-bezier(.15, .8, .4, 1);
    --shadow: 0px 18px 36px rgba(0,0,0,0.1);
    --transform: translate3d(2px,2px,4px);
}


/*Default and custom properties*/
body {
    font-family: var(--f-main);
    color: var(--c-body);
    line-height: 1.5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 800;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-secondary);
}

img {
    width: 100%;
}

.section-padding {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.section-tittle {
    max-width: 24rem;
    margin: 0 auto 4.8rem auto;
}

.section-line {
    width: 6rem;
    height: 0.125rem;
    background-color: var(--c-brand-primary);
    display: inline-block;
}

.text-brand {
    color: var(--c-brand-primary);
}


/* Navbar */
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: var(--transition);
}

.navbar.scrolled {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--c-white);
}

.navbar .navbar-nav .nav-link {
    font-weight: 600;
    color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--c-brand-primary);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 800;
}

#brand:hover {
    color: var(--c-brand-primary);
    transform: var(--transform);
}

.navbar-toggler {
    border-radius: none;
}

.navbar-toggler:hover {
    border-color: var(--c-brand-primary);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    width: 2rem;
    height: 2rem;
    color: var(--c-white);
    background-color: var(--c-brand-primary);
    border: 2px solid var(--c-brand-primary);
   
}

.social-icon:hover {
    color: var(--c-brand-primary);
    background-color: transparent;
}

@media (min-width: 990px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.9rem;
        padding-right: 0.9rem;
    }
}

@media (max-width: 990px) {
    .navbar {
        background-color: var(--c-white);
    }
}


/* Home */
#home {
    position: relative;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.home-picture {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-image: url("../images/my_picture.png");
    background-size: cover;
    background-position: center;
}

@media (max-width: 990px) {
    .home-picture {
        width: 45%;
        height: 45%;
        border-radius: 50%;
    }
}

.btn {
    font-weight: 400;
    font-size: medium;
    padding: 0.75rem 1.5rem;
    border-radius: 0;
    border-width: 0.25rem;    
}

.btn-brand {
    color: var(--c-white);
    background-color: var(--c-brand-primary);
    border-color: var(--c-brand-primary);
}

.btn-brand:hover {
    color: var(--c-brand-primary);
    background-color: transparent;
}


/* Abotu me */
.about-me-title {
    color: var(--c-brand-primary);
}

.about-me-icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: var(--c-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand-primary);
}

.about-me-icon:hover {
    color: var(--c-brand-primary);
    background-color: transparent;
}

.about-me-card > h6:hover {
    color: var(--c-brand-primary);
    transform: var(--transform);
} 


/* Projects */
.email-me:hover {
    color: var(--c-brand-primary);
}

.project {
    overflow: hidden;
    position: relative;
}

.project .project-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand-primary);
}


.project img, .project .project-content {
    transition: var(--transition);
}

.project:hover .project-content {
    top: 0;
}

.project:hover img {
    transform: translateY(-100%);
}


/* Certificates */
.certificate-section {
    background: var(--c-brand-rgb);
    background: var(--linear-gradient);
}

.certificate-tittle {
    color: var(--c-brand-primary);
}   

.certificate {
    width: 100%;
    height: 100%;
    background-color: var(--c-white);
}

.certificate:hover{
    scale: 1.1;
}


/* Contact */
.contact-section .form-control {
    border-radius: 0;
}

.contact-section .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand-primary);
}


/* Footer */
footer {
    padding-top: 10.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--c-dark);
}

footer h4 {
    color: var(--c-white);
}

footer h4:hover {
    color: var(--c-brand-primary);
}

footer p, footer li {
    color: var(--c-grey);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: var(--c-brand-secondary);
}

footer a:hover {
    color: var(--c-brand-primary);
}

.footer-top {
    padding-bottom: 6rem;
    border-bottom: 0.06rem solid var(--c-grey);
}

.footer-bottom {
    padding-top: 1.5rem;
}
